<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Showcase</title>
    <link rel="stylesheet" href="../static/css/style.css?version=3">

</head>

    <body>
        <div class="mainheading">
            <label> Showcase </label>
            <br>
            <!--<label>live feed</label>-->
        </div>

    <div class="Container">

        <a class="indexlink" href="/CategoryPerformance" > D3 Chart</a>

        <a class="indexlink" href="/QuestionMap" > Question Map</a>

        <a class="indexlink" href="/Note" > React Note </a>

        <a class="indexlink" href="/Swedish" > Swedish Inflation Rate</a>

        <a class="indexlink" href="/Geolocation" > Twitter Feature Analysis </a>

    </div>
    </body>

</html>